.name{
    color: black;
    text-align: left
}
.skills{
   text-align: left
}
#education table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
#education th{
    padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:grey;
  color: white;
  border-collapse: collapse;
  padding: 8px;
}
#education td, #education th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  #education tr:nth-child(even){background-color: #f2f2f2;}

#education tr:hover {background-color: #ddd;}
p.text{
  text-align: initial;
}