

.header{
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  display: flex;
  height: 300px;
  width: 300px;
  justify-content: center;
  align-items: center;
  margin-left: 500px;
  margin-top:75px;
  border-radius: 200px;
 
}
.prod{
  border: 2px solid #ccc;
  background-color: #eee;
  display: inline-block;
  height: 500px;
  width: 300px;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
}
.prod1{
  border: 2px solid #ccc;
  background-color: #eee;
  display: inline-block;
  height: 500px;
  width: 300px;
  border-radius: 10%;
  justify-content: center;
  align-items: center;
}
img {
  border-radius: 50%;
}
.button1 {
  border-radius: 100px;
  height: 40px;
  width: 100px;
  background-color: white; 
  color: black; 
  border: 2px solid rgb(91, 76, 175);
  margin-left: 1200px;
}
.button1:hover{
 color: blueviolet
}
.line{
  width: 500px;
  height: 47px;
  border-bottom: 1px solid black;
  position: absolute;
  margin-top: 150px;
  }
  .line2{
    width: 550px;
    height: 47px;
    border-bottom: 1px solid black;
    position: absolute;
    margin-left: 803px;
    margin-top: 150px
    }
.font{
margin-left: 380px;
margin-top: 50px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: darkslategrey
}

/* .header img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}
.header span {
  font-size: 20px;
  margin-right: 15px;
} */


.skills{
   text-align: left
}
#education table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
#education th{
    padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:grey;
  color: white;
  border-collapse: collapse;
  padding: 8px;
}
#education td, #education th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  #education tr:nth-child(even){background-color: #f2f2f2;}

#education tr:hover {background-color: #ddd;}
p.text{
  text-align: initial;
}
body{
  background-color:white;
}

.form{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#con h1{
  text-align: center;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 150px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
.gender h1{
  margin-top: -340px;
 left: 100px;
}
#skills{
  animation-timing-function: linear;
}

