.name{
    color: black;
    text-align: left
}
.skills{
   text-align: left
}
#education table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
#education th{
    padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:grey;
  color: white;
  border-collapse: collapse;
  padding: 8px;
}
#education td, #education th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  #education tr:nth-child(even){background-color: #f2f2f2;}

#education tr:hover {background-color: #ddd;}
p.text{
  text-align: initial;
}
body{
  background-color:#F5F5F5;
}
.switch{
  background-color:white;
  width:10vw;
  height:2vw;
  position:absolute;
  border-radius:30vw;
  border:3px solid #ccc;
  cursor: pointer;
  user-select: none;
  display:inline-block;
  top:180%;
  left:18%;
  transform:translate(-50%, -50%);
}
.switch::before, .switch::after{
  content:'';
  width:2vw;
  height:2vw;
  background-color:white;
  position:absolute;
  border-radius:50%;
  top:-10%;
  left:-3%;
  transition: all 350ms cubic-bezier(0, 0.95, 0.38, 0.98), background 150ms ease;
  transform-origin: right center;

}
.switch::before{
  border:1vw solid lightblue;
}
.switch::after{
  background:#FBD3E1;
  border:1vw solid pink;
}
input:checked + .switch:before {
  background: #D3F0FB;
  transform: translateX(165%);
  border:1vw solid pink;
}
input + .switch .female{
  color:pink;
}
input:checked + .switch .male{
  color:lightblue;
}
input + .switch .male{
  color:#ccc;
}
input:checked + .switch .female{
  color:#ccc;
}
input:checked + .switch:after {
  background: #D3F0FB;
  transform: translateX(165%);
  border:1vw solid lightblue;
}
.female, .male{
  position:absolute;
  font-weight:lighter;
  color:#ccc;
}
.female{
  z-index:-1;
  top:13%;
  left:2%;
  transform:rotate(180deg);
  font-size:5vw;
}
.male{
  z-index:-1;
  left:87%;
  top:-145%;
  font-size:5vw;
  transform:rotate(-50deg);
}
a .i1{
  width:10vh;
  bottom:2%;
  position:absolute;
  right:3%;
  text-decoration:none;
  color:#ccc;
  font-size:2vw;
  animation:bounce 2s alternate infinite;
}
.i1{
  opacity:0.5;
}

@keyframes bounce { 
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
  40% {transform: translateY(-30px);} 
  60% {transform: translateY(-15px);} 
}
.form{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 150px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
.gender h1{
  margin-top: -340px;
 left: 100px;
}
